<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.graphic.key">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.graphic.key.view.RegistrationActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.graphic.key.view.HealthTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.graphic.key.view.KeyActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>